rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if request.auth != null
    }

    match /usuarios/{usuarioID} {
      allow write: if comprobarEstructuraUsuarios(request.resource.data);
    }

    match /productos/{productoID} {
      allow write: if comprobarEstructuraProductos(request.resource.data);
    }

    match /ventas/{ventaID} {
      allow write: if comprobarEstructuraVentas(request.resource.data)
    }

    function comprobarEstructuraUsuarios(data) {
      return data.nombre is string &&
             data.correo is string &&
             data.cargo is string &&
             data.horario is map &&
             data.horario.entrada is timestamp &&
             data.horario.salida is timestamp &&
             data.horario.keys().size() == 2 &&
             data.tipo is string &&
             data.keys().size() == 5;
    }

    function comprobarEstructuraProductos(data) {
      return data.nombre is string &&
             data.cantidad is number &&
             data.precio is string &&
             data.keys().size() == 3;
    }

    function comprobarEstructuraVentas(data) {
      return data.producto is string &&
             data.fecha is timestamp &&
             data.cantidad is number &&
             data.metodoPago is string &&
             data.keys().size() == 4;
    }
  }
}
