<nav>
  <a href="/pedidos">Pedido</a>
  <a href="/inventario">Inventario</a>
  <a href="/historiaventas">Historial de ventas</a>
  <a href="/empleados">Empleados</a>
  <a href="/clientes">Clientes</a>
  <a href="/informes">Informes</a>
</nav>

  <title>Gestión de Productos</title>

  <h2>Gestión de Productos</h2>
  <form>
    <label for="producto">Producto:</label>
    <input type="text" id="producto" name="Nombre del producto" required />
    <br /><br />

    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" min="1" required />
    <br /><br />

    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" min="50" required />
    <br /><br />
    <div class="containerbuttom">
      <button type="submit" name="accion" value="agregar">Agregar</button>
      <button type="submit" name="accion" value="modificar">Modificar</button>
      <button type="submit" name="accion" value="eliminar">Eliminar</button>
    </div>
  </form>



