<div class="tabla">

    
    <h2>Historial de ventas</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Producto</th>
                <th>Mesa</th>
                <th>Cantidad</th>
                <th>Total</th>
      <th>Método de Pago</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>05/03/2025</td>
        <td>Dona</td>
        <td>5</td>
        <td>2</td>
        <td>$1000</td>
        <td>Tarjeta</td>
    </tr>
    <tr>
        <td>05/03/2025</td>
        <td>Pan</td>
        <td>3</td>
        <td>1</td>
        <td>$500</td>
        <td>Efectivo</td>
    </tr>
</tbody>
</table>
</div>
<button onclick="history.back()">Atrás</button>