<div class="pedidocontainer">

    <h2>Formulario de Pedido</h2>
    
    <form action="" method="post">
        
        <label for="producto">Selecciona el Producto:</label>
        <select id="producto" name="producto">
            <option value="" selected disabled></option>
            <option value="producto1">Producto 1</option>
            <option value="producto2">Producto 2</option>
        </select>
        <br><br>
        
        <label for="cantidad">Cantidad:</label>
        <div>
            <input type="number" id="cantidad" name="cantidad" max="50" required>
            <br><br>
        </div>
        

        <label for="mesa">Selecciona la Mesa:</label>
        <select id="mesa" name="mesa">
            <option value="" selected disabled></option>
            <option value="mesa1">mesa 1</option>
            <option value="mesa2">mesa 2</option>
        </select>
        <br><br>
        
        <label for="total">Total:</label>
        <input type="text" id="total" name="total" readonly>
        <br><br>
        
        <label for="metodo_pago">Método de Pago:</label>
        <select id="metodo_pago" name="metodo_pago">
            <option value="" selected disabled></option>
            <option value="efectivo">Efectivo</option>
            <option value="tarjeta_credito">Tarjeta de crédito</option>
            <option value="tarjeta_debito">Tarjeta de débito</option>
            <option value="transferencia">Transferencia</option>
        </select>
        <br><br>
        
        <button type="submit">Realizar Pedido</button>
    </form>
    
    <button class="boton" onclick="history.back()">Atrás</button>
    
</div>