
body {
    background-color: #f3e5d8;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

/* Contenedor del login */
.login-container {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 380px;
    border: 2px solid #d2b48c;
}

.register-container {
    justify-content: center;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 380px;
    border: 2px solid #d2b48c;

}

/* Logo o título */
h2 {
    font-size: 26px;
    font-weight: bold;
    color: #6d4c41;
    font-family: 'Poppins', sans-serif;
}

p {
    color: #8d6e63;
    font-size: 14px;
}

/* Estilo de los campos */
.input-group {
    margin: 15px 0px;
    padding-right: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    color: #5d4037;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d7ccc8;
    border-radius: 8px;
    font-size: 16px;
    background-color: #faefe5;
    color: #5d4037;
}

input:focus {
    outline: none;
    border: 2px solid #a1887f;
}

button {
    width: 102%;
    padding: 12px;
    background: #6d4c41;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: #5d4037;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
}

.register-link a {
    color: #6d4c41;
    font-weight: bold;
    text-decoration: none;
}


.register-link a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


/* Responsivo */
@media (max-width: 400px) {
    .login-container {
        width: 90%;
    }
}