<div class="container">
    <header>
        <span> <!-- para encerrar algun texto-->
            Cafetería Ycoffee
        </span>
        <menu>
            <li>
                <a href="#">Tomar pedido</a>
            </li>
            <li>
                <a href="#">Inventario de productos</a>
            </li>
            <li>
                <a href="#">Registro de ventas</a>
            </li>
            <li>
                <a href="#">Gestión empleados</a>
            </li>
            <li>
                <a href="#">Gestión clientes</a>
            </li>
            <li>
                <a href="#">Generar informes</a>
            </li>
        </menu>
    </header>