<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
</head>
<body>

    <nav>
        <a href="/pedidos">Pedido</a>
        <a href="/inventario">Inventario</a>
        <a href="/historiaventas">Historial de ventas</a>
        <a href="/empleados">Empleados</a>
        <a href="/clientes">Clientes</a>
        <a href="/informes">Informes</a>
    </nav>

    <div class="contenedor1">
        <div class="contenido1">
            <img src="/public/cafehelado.jpg" alt="Imagen 1"/>
            <p>Texto para el contenedor 1</p>
        </div>
    </div>

    <div class="contenedor1">
        <div class="contenido1">
            <img src="" alt="Imagen 2">
            <p>Texto para el contenedor 2</p>
        </div>
    </div>

    <div class="contenedor1">
        <div class="contenido1">
            <img src="ruta-de-tu-imagen3.jpg" alt="Imagen 3">
            <p>Texto para el contenedor 3</p>
        </div>
    </div>


</body>
